<p fundoAmarelo>TEXTO COM FUNDO AMARELO!</p>

<button fundoAmarelo>Botão com fundo Amarelo</button>
<br><br>
<h3></h3>
<p appHighlightMouse>
  Texto con highlight quando passo o mouse
</p>
<br>
<p appHighlight [defaultColor]="'gray'" [highlightColor]="'red'">
  Texto con highlight com cores customizadas
</p>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder Cursos</button>
<br>
<div *ngElse="mostrarCursos">
  Lista de cursos aqui.
  </div>
  <br>
  <template [ngElse]="mostrarCursos">
    <div>
      não existe cursos
    </div>
  </template>


