<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  <p>Lista de cursos aqui.</p>
  {{ cursos[0] }}
</div>

<div *ngIf="cursos.length === 0">Não existem curos para serem listados.</div>

<div *ngIf="mostrarCursos">Lista de Cursos aqui.</div>

<div *ngIf="!mostrarCursos">Não existem cursos para serem listados.</div>

<br><br>

<button (click)="onMostrarCursos()">Mostrar ou esconder Cursos</button>

<div [hidden]="mostrarCursos">Lista de Cursos aqui.</div>

<div [hidden]="!mostrarCursos">Não existem cursos para serem listados.</div>


<h5>Removendo o * e usando template</h5>

<div *ngIf="mostrarCursos">
Lista de cursos aqui.
</div>

<template [ngIf]="mostrarCursos">
  <div>Lista de cursos Template aqui.</div>
</template>
