<section class="propertyBinding-interpolation">
  <!--   <article>
    <h2>Interpolation / Interpolação</h2>
    <p>String renderizada vom interpolação: {{ url }}</p>
    <p style="font-weight: bold;">O Angular 2+ pode resolver expressões dentro da interpolação</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 +getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h2>Property Binding</h2>
    <img src="{{ urlImage }}">
    <img [src]="urlImage2">
  </article> -->
</section>
<section class="class-styleBinding">
  <!--   <article>
    <h2>Class & Style Binding</h2>
    <div>
      Selecione uma classe:
      <select #classe (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br /><br />
      <div class="alert {{ classe.value }}" role="alert">
        Texto Colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'"
      >
        <strong>Well done!</strong> You successfully read this important alert
        message.
      </div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'"
      >
        <strong>Heads up!</strong> This alert needs your attention, but it's not
        super important.
      </div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'"
      >
        <strong>Warning!</strong> Better check yourself, you're not looking too
        good.
      </div>
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'"
      >
        <strong>Oh snap!</strong> Change a few things up and try submitting
        again.
      </div>

      <div class="alert alert-danger" role="alert"
       [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
      >
        Esse texto somente em caso de erro.
      </div>
    </div>
  </article> -->
</section>

<section class="event-binding">
  <!-- <article>
    <h2>Event Binding</h2>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">
        Me Clique
      </button>
      <br /><br />
      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />
      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>
      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>
    </div>
  </article> -->
</section>
<!--
<app-meu-form></app-meu-form> -->

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>

    <contador [valor]="10" (mudouValor)="onMudouVAlor($event)"></contador>

  </article>
</section>
